fund=false
audit=false
audit-level=none
update-notifier=false
yes=true
save=true
save-exact=true
engine-strict=true
commit-hooks=false
ignore-scripts=true
# just in case a private registry is configured in ~/.npmrc
registry = https://registry.npmjs.org/
